<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1><%= farm.name %></h1>
    <h2>ADD A NEW PRODUCT FOR THIS FARM</h2>
    <form action="/farms/<%= farm._id %>/products" method="POST">
        <label for="name">Product Name:</label>
        <input type="text" name="name" placeholder="Product Name">
        <label for="price">Price:</label>
        <input type="number" name="price" placeholder="Price">
        <label for="category">Category:</label>
        <Select name="category" id="">
            <% for(let category of categories){ %>
                <option value="<%= category %>"><%= category %></option>
            <% }%>
        </Select>
        <button type="submit">Add Product</button>
        <a href="/farms/<%= farm._id %>">Back to Farm</a>
    </form>
</body>
</html>
