<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= messages %>
    <title>farm.name</title>
</head>
<body>
    <h1><%= farm.name %></h1
    <ul>
    <p>city: <%= farm.city %></p>
    <p>Email: <%= farm.email %></p>
    </ul>
    <h2>Products:</h2>
    <ul>
        <% for(let product of farm.products){ %>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% }%>
    </ul>
    <a href="/farms/<%= farm._id %>/products/new">Add products</a>
    <a href ="/farms">Back to all farms</a>
    <form action="/farms/<%= farm._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit">Delete Farm</button>
    
</body>
</html>